@media(max-width: 1000px) {

    .copy-container {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 40px;
    }

    .footer {
        width: 100%;
        float: none;
    }

    .follow-me li {
        font-size: 10px;


    }

    .footer-logo {
        font-size: 40px;
    }

    .main {
        text-align: center;
    }

    .header-list li {

        padding: 10px 10px;
    }
}

@media(max-width:640px) {

    .copy-container {
        margin-bottom: 50px;
    }

    h1 {
        font-size: 20px;
    }

    .footer {
        width: 110%;
        float: none;
        height: 180px;
       
    }

    .follow-me li {
        font-size: 10px;
        padding: 0px 20px;


    }

    .footer-logo {
        font-size: 40px;
    }

    .main {
        text-align: center;
    }

    .header-list li {
        display: none;
    }
    
    input,
    textarea{
        width: 100%;
    }
    
}
